torch==2.4.0
transformers==4.44.1
accelerate
sentencepiece
tiktoken
blobfile
safetensors
pandas
datasets
triton
msgspec
protobuf
datasets
packaging
flash-attn==2.6.1
pandas
evaluate==0.4.0
sacrebleu==2.4.3
scikit-learn==1.5.1
sqlitedict==2.1.0
peft==0.12.0
more-itertools==10.6.0
pytablewriter==1.2.1